<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Welcome</title>
    </head>
    <body class="ml-5">
        <div class="d-flex">
            <a class="ml-auto p-2" href="http://localhost:8000/destroy"><u>Log Out</u></a>
        </div>
        <h5>Success! Welcome, {{ user.first_name }}!</h5>
        <p class="text-success">Successfully {{request.session.enter_message}}!</p>
    </body>
</html>